<div class="col-md-2 sidebar p-5">
    <div class="sidebar-content position-relative">
        <div class="d-flex justify-content-center">
            <h4>NAVIGATION</h4>
        </div>
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="/admin/home">Home</a>
            <a class="list-group-item list-group-item-action" href="/admin/product">Product Details</a>
            <!-- dropdown START -->
            <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Promo</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/admin/promo-price">Price</a></li>
                    <li><a class="dropdown-item" href="/admin/promo-banner">Banner</a></li>
                </ul>
            </div>
            <!-- dropdown END -->
            <a class="list-group-item list-group-item-action" href="/admin/registration">Register New Admin</a>
            <a class="list-group-item list-group-item-action position-absolute bottom-0 log-out p-3 d-flex justify-content-center" id="log-out" href="#">Log-Out</a>
        </div>
    </div>
</div>
<script src="/js/partials/navbar.js"></script>
