    <!-- Navbar Start -->
    <nav class="navbar navbar-dark navbar-expand-lg position-fixed w-100">
        <div class="container">
          <a class="navbar-brand navbar-logo" href="#">
            <img src="/image/design_images/assets/logo.png" alt="Logo" width="60" class="d-inline-block align-text-center me-3" />
            Jimboz Book Store
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link ms-3 active" href="/users/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-3" href="#promo">Promo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-3" href="#best-seller">Best Seller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-3" href="/users/product">Search Product</a>
              </li>
            </ul>
            <div>
              <% if (dataNavbar) { %>
                <h5 class="my-auto mx-5">Hello <%= dataNavbar.name %></h5>
              <% } %>
            </div>
            <div>
              <% if (!dataNavbar) { %>
                <a href="/users/login?#"><button class="button-login">Log-In</button></a>
                               
              <% } %>
              <% if (dataNavbar) { %>
                <button class="button-login" id="log-out">Log-Out</button>
              <% } %>
            </div>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->
<script src="/js/navbar.js"></script>
  