:root{
    --hijau-lemon: rgb(81, 62, 255);
}
*{
    z-index: 2;
}
body{
    font-family: 'Phudu', cursive;
}

section{
    padding-top: 4rem;
}

.navbar::before{
    content:"";
    background-color: blue;

}
.navbar{
    font-size: 20px;
    z-index: 3;
    background-color: rgba(36, 17, 204, 0.7);
}
.active{
    font-weight: bold;
    text-decoration: underline;
}
.navbar-logo{
    font-weight: 700;
}

.button-login{
    background: linear-gradient(to top, #c2c2c2, #ffffff);    
    color: black;
    border-radius: 50px;
}
.button-daftar{
    border: none;
    background-color: transparent;
}
/* Hero styling */
#hero{
background: linear-gradient(160deg,white,blue);
height: 100vh;
width: 100%;
padding-top: 2rem;
}

.text-hero{
    font-family: 'Concert One', cursive;    
    font-size: 100px;
    letter-spacing: 1px;
}
.hero-tagline{

}
#hero img{
    width: 750px;
}

/* Carousel Styling */
#promo{
    background: linear-gradient(240deg,blue,white);
    height: 70vh;
    width: 100%;
}
h2{
    font-family: 'Concert One', cursive;    
    font-size: 50px;

}
.carousel img{
    border-radius: 50px;
    height: 500px;
    width: 800px;
}
#promo button{
    z-index: 3;
}
.carousel-control-prev{
    background-color: rgba(36, 17, 204, 0.3);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 20%;
    top: 50%;
}
.carousel-control-next{
    background-color: rgba(36, 17, 204, 0.3);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 20%;
    top: 50%;
}
.carousel-tombol :hover{
    background-color: rgba(36, 17, 204, 0.8);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#best-seller{
    background: linear-gradient(45deg,blue,white);
}
.card-fitur h4{
    font-size: 40px;
}
.card-fitur span{
    font-style: italic;
}
.card-fitur h5{
    font-size: 30px;
    font-weight: 700;
}
.card-fitur button{
    background-color: rgb(2, 194, 241);
    border-radius: 50px;
    width: 100px;
}
.card-fitur .overlay{
    width: 300px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all ease-in-out .3s;
}
.card-fitur .overlay:hover{
    width: 300px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    color: white;
}
.button-arrow-left{
    border: none;
    border-radius: 50px;
    width: 80px;
}
.button-arrow-right{
    border: none;
    border-radius: 50px;
    width: 80px;
}
#footer{
    background-color: yellow;
    height: 5vh;
}
#footer img{
    width: 8vh;
}
