:root{
    --hijau-lemon: rgb(81, 62, 255);
}
*{
    z-index: 2;
}
body{
    font-family: 'Phudu', cursive;
}

section{
    padding-top: 4rem;
}

#header .category{
    font-family: 'Concert One', cursive;
    width: 12vh;
}
#header button{
    padding: 4px;
    font-size: 20px;
    text-align: center;
}
#header .filter{
    height: 50px;
}
#header #button-filter{
    margin: 5px;
}

@media (max-width:575px) {
    #header #button-filter{
        font-size: 17px;
    }
}

#product .card{
    height: 110%;
    border: 2px solid black;
    border-radius: 6px;
}
#product h5{
    font-size: 1.5rem;
}
#product .writer{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: -2px;
    margin-top: 50px;
}
#product .category{
    text-decoration: underline;
}
#product .price{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    width: 50%;
    background-color: rgb(37, 223, 37);
    border: 2px solid green;
    border-radius: 10px;
}

#modal .modal{
    justify-content: center;
}

#modal .title{
    height: 40%;
}

#modal .image{
    height: 30vh;
    width: 50%;
    border: 6px solid var(--hijau-lemon);
    border-radius: 10px;
}
#modal .image-modal{
    /* height: 10rem; */
}
#modal .detail{
    height: 30vh;
    width: 45%;
    margin-left: 10px;
    border: 6px solid var(--hijau-lemon);
    border-radius: 10px;
}
#modal h4{
    font-size: 1.2rem;
}

#modal .price{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    width: 50%;
    background-color: rgb(37, 223, 37);
    border: 2px solid green;
    border-radius: 10px;
}

#modal .synopsis{
    height: 30vh;
    background-color: rgba(148, 137, 252, 0.3);
    font-family: 'Concert One', cursive;
    border: 6px solid var(--hijau-lemon);
    border-radius: 10px;
}
#modal .synopsis p{
    font-family: 'Concert One', cursive;
    letter-spacing: -1px;
    text-indent: 10%;
    text-align: justify;
}

@media (max-width:991px) {
    #modal h4{
        font-size: 1.1rem;
    }
    
}
@media (max-width:575px) {
    #product .price {
        font-size: 15px;
    }
    #product .writer{
        margin-top: 10px;
    }
    #product .detail-product{
        font-size: 12px;
    }
    #modal h4{
        font-size: .8rem;
    }

    #modal .price{
        font-size: 25px;
        width: 80%;
    }
    
}

#pagination{
    color: var(--hijau-lemon);
    font-family: 'Concert One', cursive;
}

.simple-pagination li{
    display: inline-block;
    margin-left: 10px;
}

.discount{
    position: relative;
    width: 60px;
    height: 60px;
    justify-content: center;
}
.discount-tag{
    width: 100%;
}
.discount-value{
    color: white;
    z-index: 1;
    font-size: 17px;
}