body{
    background-color: rgb(201, 200, 200);
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.form-registration{
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 30px green;
    height: 45vh;
}

.indicator{
    color: rgb(6, 248, 6);
}
.logo-image img{
    width: 100%;
    display: none;
}