body{
    background-color: rgb(201, 200, 200);
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.logo-image img{
    width: 100%;
}

.table-promo-banner{
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 30px green;
}

.table-promo-banner th{
    text-align: center;
    align-items: center;
}

.table-promo-banner td{
    height: 15vh;
    text-align: center;
    vertical-align: middle;
}
.table-promo-banner img{
    height: 15vh;
    border-radius: 10px;
    border: 1px solid black;
}